html(ng-app='todoList')
  head
    title To-Do List
    link(rel='stylesheet' text='text/css'
         href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript'
           src='/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='/javascripts/app.js')
  body(ng-controller='TasksCtrl')
    div(class='container')
      div(class='row')
        div(class='col-lg-12')
          p {{ tasks }}
